{% extends 'base.html.twig' %}

{% block title %}Ajouter une liste{% endblock %}

{% block body %}
    <h1>Ajouter une liste</h1>
    <div id="formtasklist">
        {{ include('task_list/_form.html.twig') }}
    </div>

{% endblock %}
