{% block body %}
    <nav>
        <div id="navbar">
            <img id="nwslogo" src="/nws.png"></img>
            <a href="{{ path('app_board_index') }}">
                <p id='title'>NWS Kanban</p>
            </a>
        </div>
    </nav>
{% endblock %}