<form method="post" action="{{ path('app_board_delete', {'id': board.id}) }}" onsubmit="return confirm('Veux tu vraiment supprimer ce tableau ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board.id) }}">
    <button class="btn btn-danger mb-0">Supprimer</button>
</form>
